.form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.8rem;
}

.button {
  text-transform: lowercase;
  font-size: 1.3rem;
  font-weight: 600;
  background-color: #fbe600;
  box-shadow: 2px 2px 4px 2px rgb(240, 240, 240);
  border: none;
  border-radius: 4px;
  padding: 8px;
  opacity: 0.9;
  color: #3d3d3d;
}
.button:hover {
  cursor: pointer;
  background-color: #fbe600;
  opacity: 1;
}

.form-elements {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 0.2rem;
}
