ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
  padding-inline-start: 0;
}

li {
  background-color: var(--list-color);
  color: var(--foam-color);
  font-size: 1.15rem;
  font-weight: 600;
  border-radius: 16px;
  border: 1px dotted rgb(103, 176, 255);
  padding: 0.7rem;
  margin-top: 0.8rem;
  position: relative;
  letter-spacing: 0.1rem;
}

.delete-button {
  position: absolute;
  right: 1.5rem;
  top: 0.2rem;
  background-color: var(--foam-color);
  border: none;
  border-radius: 50%;
  padding: 0.4rem;
  font-size: 1.3rem;
  cursor: pointer;
}
