ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
  padding-inline-start: 0;
}

li {
  font-size: 1.15rem;
  font-weight: 600;
  border-radius: 14px;
  border: 1px dotted rgb(103, 176, 255);
  padding: 0.7rem;
  margin-top: 0.2rem;
  margin-bottom: 4px;
  position: relative;
  letter-spacing: 0.08rem;
}

.delete-button {
  position: absolute;
  right: 10px;
  top: 6px;
  border: none;
  border-radius: 50%;
  padding: 0.4rem;
  font-size: 0.9rem;
  cursor: pointer;
}

.light {
  background-color: var(--list-color);
  color: var(--foam-color);
}

.dark {
  background-color: var(--color-granite);
  color: var(--foam-color);
}
