.app {
  min-height: 100vh;
  max-width: 300px;
  margin: 0 auto;
}

.app__main {
  width: 100%;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
}

header {
  font-size: 4rem;
  text-align: center;
  margin: 2rem;
}

h2 {
  font-weight: 500;
  margin-bottom: 0.7rem;
}

h3 {
  font-weight: 500;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: var(--color-granite);
}
